.bhead{
    background-image: url(/img.jpg);
    height: 95vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bhead div:nth-child(1){
    text-align: center;
    width: 45%;
    border-radius: 25px;
    box-shadow: 0 0 20px gray;
    height: 500px;
    background-color: whitesmoke;
    margin-top: 230px;
    padding-block: 20px;
    padding-inline: 40px;
    margin-bottom: 55px;
}

.bhead p{
    line-height: 1.5;
}